flows_DESKTOP-OJVAA1I.json
[{"id":"f615738.b39fa9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"358c002f.79e1a","type":"http in","z":"f615738.b39fa9","name":"WS call","url":"/whatsapp","method":"post","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["1fbe850.62da97b","d0f5a7e9.e6b398"]]},{"id":"1fbe850.62da97b","type":"function","z":"f615738.b39fa9","name":"","func":"msg.payload = {\n    \"hola\": \"adios\"\n}\n\nmsg.statusCode = 200;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["e64ff2a2.68667"]]},{"id":"d0f5a7e9.e6b398","type":"debug","z":"f615738.b39fa9","name":"Input req","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":340,"y":40,"wires":[]},{"id":"e64ff2a2.68667","type":"http response","z":"f615738.b39fa9","name":"","statusCode":"","headers":{},"x":490,"y":100,"wires":[]},{"id":"4b3337ea.a37cd8","type":"jimp-image","z":"f615738.b39fa9","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"filename","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":530,"y":360,"wires":[["8ad781fd.14dad"]]},{"id":"b6a72294.c9b4","type":"image viewer","z":"f615738.b39fa9","name":"","width":160,"data":"payload","dataType":"msg","x":90,"y":1160,"wires":[["a950e2e9.5d653"]]},{"id":"66bbd0fc.a3331","type":"inject","z":"f615738.b39fa9","name":"inject fileUrl","topic":"","payload":"https://storage.googleapis.com/m-infra.appspot.com/public/res/Enzyme/a1b9/d5c0/9154/1100/5752/9e4f/8af8/7682/a1b9d5c09154110057529e4f8af87682.jpeg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["5e2b2324.2a1b0c"]]},{"id":"5e2b2324.2a1b0c","type":"function","z":"f615738.b39fa9","name":"Define filename","func":"msg.filename = \"test.jpeg\";\nmsg.filepath = \"D:\\\\Projects\"\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":360,"wires":[["4b3337ea.a37cd8"]]},{"id":"efe8e542.376348","type":"function","z":"f615738.b39fa9","name":"Date found","func":"return msg;","outputs":1,"noerr":0,"x":930,"y":1240,"wires":[["56cbbd8.497f944"]]},{"id":"56cbbd8.497f944","type":"debug","z":"f615738.b39fa9","name":"Date found","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":1240,"wires":[]},{"id":"669f882e.23e298","type":"function","z":"f615738.b39fa9","name":"Process OCR response","func":"var res = msg.payload;\n\nvar date = res.match(/[0-9]{2}(\\-|\\/| )[0-9]{2}(\\-|\\/| )[0-9]{4}/g);\n\ndate = date[0];\n\nmsg.foundDate = date;\n\nif(date){\n    node.send([msg, null]);\n}else{\n    node.send([null, msg]);\n}","outputs":2,"noerr":0,"x":690,"y":1240,"wires":[["efe8e542.376348"],["2db6095e.ba91f6"]]},{"id":"2db6095e.ba91f6","type":"debug","z":"f615738.b39fa9","name":"F","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":1360,"wires":[]},{"id":"a950e2e9.5d653","type":"function","z":"f615738.b39fa9","name":"Prepare OCR call","func":"msg.payload = msg.fullFilepath;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1160,"wires":[["2d9c749e.4467dc"]]},{"id":"490b7228.d23c6c","type":"debug","z":"f615738.b39fa9","name":"OCR response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":1160,"wires":[]},{"id":"fb4ab69d.deba28","type":"inject","z":"f615738.b39fa9","name":"inject filename","topic":"","payload":"med3.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["edd6e86e.014b28"]]},{"id":"edd6e86e.014b28","type":"function","z":"f615738.b39fa9","name":"Read filename","func":"msg.filename = msg.payload;\nmsg.filepath = \"D:\\\\Projects\\\\Call4Code\\\\img\";\n\nmsg.fullFilepath = msg.filepath + \"\\\\\" + msg.filename;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":820,"wires":[["4352faac.5a0b54"]]},{"id":"4352faac.5a0b54","type":"jimp-image","z":"f615738.b39fa9","name":"","data":"fullFilepath","dataType":"msg","ret":"img","parameter1":"800","parameter1Type":"num","parameter2":"1200","parameter2Type":"num","parameter3":"RESIZE_BEZIER","parameter3Type":"resizeMode","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":510,"y":820,"wires":[["b6a72294.c9b4"]]},{"id":"8ad781fd.14dad","type":"image viewer","z":"f615738.b39fa9","name":"","width":160,"data":"payload","dataType":"msg","x":130,"y":440,"wires":[["21db5fee.6e13b"]]},{"id":"701feccf.5bdb04","type":"function","z":"f615738.b39fa9","name":"Prep file removal","func":"return msg;","outputs":1,"noerr":0,"x":1010,"y":520,"wires":[["96a79ca6.c7755"]]},{"id":"70815b15.221554","type":"debug","z":"f615738.b39fa9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":520,"wires":[]},{"id":"40644882.b599c8","type":"function","z":"f615738.b39fa9","name":"Process OCR response","func":"return msg;","outputs":1,"noerr":0,"x":730,"y":520,"wires":[["701feccf.5bdb04"]]},{"id":"21db5fee.6e13b","type":"function","z":"f615738.b39fa9","name":"Prepare OCR call","func":"msg.payload = msg.filename;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["88cc1dc9.1e66f"]]},{"id":"4d44edf8.817f24","type":"debug","z":"f615738.b39fa9","name":"OCR response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":440,"wires":[]},{"id":"88cc1dc9.1e66f","type":"tesseract","z":"f615738.b39fa9","name":"","language":"eng","x":680,"y":440,"wires":[["40644882.b599c8","4d44edf8.817f24"]]},{"id":"96a79ca6.c7755","type":"fs-ops-delete","z":"f615738.b39fa9","name":"","path":"filepath","pathType":"msg","filename":"filename","filenameType":"msg","x":1230,"y":520,"wires":[["70815b15.221554"]]},{"id":"971c278b.64c1f8","type":"jimp-image","z":"f615738.b39fa9","name":"","data":"payload","dataType":"msg","ret":"img","parameter1":"filename","parameter1Type":"msg","parameter2":"1200","parameter2Type":"num","parameter3":"RESIZE_BEZIER","parameter3Type":"resizeMode","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":810,"y":820,"wires":[["da241617.295e58"]]},{"id":"2d9c749e.4467dc","type":"tesseract","z":"f615738.b39fa9","name":"","language":"eng","x":640,"y":1160,"wires":[["669f882e.23e298","490b7228.d23c6c"]]},{"id":"ab10457f.f94c28","type":"tesseract","z":"f615738.b39fa9","name":"","language":"spa","x":920,"y":640,"wires":[["62cc90fc.e45f6","6661a430.9df41c"]]},{"id":"62cc90fc.e45f6","type":"function","z":"f615738.b39fa9","name":"Process OCR response","func":"var res = msg.payload;\n\nvar date = res.match(/[0-9]{2}(\\-|\\/| )[0-9]{2}(\\-|\\/| )[0-9]{4}/g);\n\nif(date){\n    date = date[0];\n}\n\nmsg.foundDate = date;\n\nif(date){\n    node.send([msg, null]);\n}else{\n    node.send([null, msg]);\n}","outputs":2,"noerr":0,"x":970,"y":720,"wires":[["3c1a45ec.51ceea"],["83b9fe85.6f6fe"]]},{"id":"3c1a45ec.51ceea","type":"function","z":"f615738.b39fa9","name":"Date found","func":"return msg;","outputs":1,"noerr":0,"x":1210,"y":720,"wires":[["fdda4f46.1b901"]]},{"id":"fdda4f46.1b901","type":"debug","z":"f615738.b39fa9","name":"Date found","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1410,"y":720,"wires":[]},{"id":"83b9fe85.6f6fe","type":"debug","z":"f615738.b39fa9","name":"F","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":840,"wires":[]},{"id":"6661a430.9df41c","type":"debug","z":"f615738.b39fa9","name":"OCR response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1140,"y":640,"wires":[]},{"id":"da241617.295e58","type":"function","z":"f615738.b39fa9","name":"resized","func":"msg.fullFilepath = msg.filepath + \"\\\\\" + msg.filename;\n\nmsg.payload = msg.fullFilepath;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":640,"wires":[["ab10457f.f94c28"]]},{"id":"23bdbfa.540ba4","type":"function","z":"f615738.b39fa9","name":"","func":"msg.filename = \"resized.jpg\";\nmsg.filepath = \"D:\\\\Projects\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":760,"wires":[["971c278b.64c1f8"]]},{"id":"2cec4cbc.ee9354","type":"image viewer","z":"f615738.b39fa9","name":"","width":160,"data":"payload","dataType":"msg","x":530,"y":740,"wires":[[]]},{"id":"1895e71f.330f89","type":"inject","z":"f615738.b39fa9","name":"inject filename","topic":"","payload":"med2.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1520,"wires":[["ca70c0be.c7d1c"]]},{"id":"ca70c0be.c7d1c","type":"function","z":"f615738.b39fa9","name":"Read filename","func":"msg.filename = msg.payload;\nmsg.filepath = \"D:\\\\Projects\\\\Call4Code\\\\img\";\n\nmsg.fullFilepath = msg.filepath + \"\\\\\" + msg.filename;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1520,"wires":[["48955d35.979244"]]},{"id":"48955d35.979244","type":"jimp-image","z":"f615738.b39fa9","name":"","data":"fullFilepath","dataType":"msg","ret":"img","parameter1":"800","parameter1Type":"num","parameter2":"1200","parameter2Type":"num","parameter3":"RESIZE_BEZIER","parameter3Type":"resizeMode","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":550,"y":1520,"wires":[["3b877f73.89bfb"]]},{"id":"3b877f73.89bfb","type":"image viewer","z":"f615738.b39fa9","name":"","width":160,"data":"payload","dataType":"msg","x":130,"y":1860,"wires":[["7bce7412.3d112c"]]},{"id":"7bce7412.3d112c","type":"function","z":"f615738.b39fa9","name":"Prepare OCR call","func":"msg.payload = msg.fullFilepath;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1860,"wires":[["aaacbfd6.207c5"]]},{"id":"dc84d81b.f071a8","type":"function","z":"f615738.b39fa9","name":"Process OCR response","func":"var res = msg.payload;\n\nvar date = res.match(/[0-9]{2}(\\-|\\/| )[0-9]{2}(\\-|\\/| )[0-9]{4}/g);\n\nif(date){\n    date = date[0];\n}\n\nvar monthArr = res.match(/[a-zA-z]{3}[^a-zA-Z]{1}/g);\n\nfunction levenshtein(a, b){\n  if(a.length === 0) return b.length; \n  if(b.length === 0) return a.length; \n\n  var matrix = [];\n\n  // increment along the first column of each row\n  var i;\n  for(i = 0; i <= b.length; i++){\n    matrix[i] = [i];\n  }\n\n  // increment each column in the first row\n  var j;\n  for(j = 0; j <= a.length; j++){\n    matrix[0][j] = j;\n  }\n\n  // Fill in the rest of the matrix\n  for(i = 1; i <= b.length; i++){\n    for(j = 1; j <= a.length; j++){\n      if(b.charAt(i-1) == a.charAt(j-1)){\n        matrix[i][j] = matrix[i-1][j-1];\n      } else {\n        matrix[i][j] = Math.min(matrix[i-1][j-1] + 1, // substitution\n                                Math.min(matrix[i][j-1] + 1, // insertion\n                                         matrix[i-1][j] + 1)); // deletion\n      }\n    }\n  }\n\n  return matrix[b.length][a.length];\n}\n\nconst monthNames = {\n    \"eng\": [\"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\", \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\"],\n    \"spa\": [\"ene\", \"feb\", \"mar\", \"abr\", \"may\", \"jun\", \"jul\", \"ago\", \"set\", \"oct\", \"nov\", \"dic\"]\n};\n\nnode.warn(monthArr);\n\nvar foundMonths = [];\n\nif(monthArr){\n    \n    monthArr.forEach(month => {\n        monthNames.spa.forEach(correctMonth => {\n            if(levenshtein(month.toLowerCase(), correctMonth) <= 2){\n                foundMonths.push({\"predicted\": correctMonth, \"found\": month});\n            }\n        });\n    });\n\n}\n\nmsg.foundDate = date;\n\nnode.warn(foundMonths);\n\nif(date){\n    node.send([msg, null]);\n}else{\n    node.send([null, msg]);\n}","outputs":2,"noerr":0,"x":730,"y":1920,"wires":[["cbca4ba6.424ec8"],["94a71936.b4e4e8"]]},{"id":"c4499364.ff558","type":"debug","z":"f615738.b39fa9","name":"OCR response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":1860,"wires":[]},{"id":"cbca4ba6.424ec8","type":"function","z":"f615738.b39fa9","name":"Date found","func":"return msg;","outputs":1,"noerr":0,"x":970,"y":1940,"wires":[["736f1458.91639c"]]},{"id":"94a71936.b4e4e8","type":"debug","z":"f615738.b39fa9","name":"F","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":2060,"wires":[]},{"id":"736f1458.91639c","type":"debug","z":"f615738.b39fa9","name":"Date found","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":1940,"wires":[]},{"id":"aaacbfd6.207c5","type":"tesseract","z":"f615738.b39fa9","name":"","language":"eng","x":680,"y":1860,"wires":[["dc84d81b.f071a8","c4499364.ff558"]]}]